.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;

  @media screen and (width < 750px) {
    img {
      max-width: 9rem;
    }
    padding: 0;
  }
}
