.hourlyCard {
  background-color: var(--Neutral-600);
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 10px;

  img {
    width: 2.5rem;
    margin-inline-end: 0.5rem;
  }

  .hourlyTime {
    font-size: 1.25rem;
  }

  .hourlyTemp {
    margin-inline-start: auto;
  }
}
