.currentWeatherWrapper {
  background-image: url("../../src/assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-block: 2rem 0.75rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  padding-block: 3rem;
  /* outline: 2px SOLID LIME; */

  .placeTimeWrapper {
    display: grid;
    gap: 0.5rem;
    justify-items: center;

    h2 {
      font-size: 2rem;
    }
  }

  .iconTempWrapper {
    display: flex;
    font-size: 6rem;
    font-weight: 600;
    font-style: oblique;
    align-items: center;
    gap: 2rem;

    img {
      max-width: 5rem;
    }
  }
}

.currentCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.25rem;
  justify-items: center;
  margin-block-end: 1.5rem;
}
