.currentCard {
  background-color: var(--Neutral-700);
  max-width: 10rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  width: 100%;
  display: grid;
  gap: 1rem;

  h3 {
    font-weight: 400;
    font-size: 1rem;
  }

  p {
    font-size: 1.75rem;
  }
}
