.dailyCard {
  background-color: var(--Neutral-700);
  width: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0.5rem;

  img {
    width: 3rem;
    margin-inline: auto;
    margin-block: 1.25rem;
  }

  .dailyTempWrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.25rem;
  }
}
