*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  --Orange-500: hsl(28, 100%, 52%);

  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: DM_Sans;
  src: url("/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: Bricolage_Grotesque;
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--Neutral-900);
  color: var(--Neutral-0);
  padding: 1rem 2rem 3rem;
  font-family: DM_Sans;
  max-width: 1200px;
  margin-inline: auto;

  @media screen and (width < 750px) {
    padding: 1rem 1rem 3rem;
  }
}

.mainLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.innerLayout {
  flex-basis: 750px;
  margin-inline: auto;
}

.loading {
  font-size: 3rem;
  text-align: center;
  font-family: Bricolage_Grotesque;
  position: relative;
  width: fit-content;
  margin-inline: auto;
}
.animation {
  position: absolute;
  bottom: 0rem;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading1 {
  animation-name: loading-animation;
  left: calc(100% + 0.5rem);
}
.loading2 {
  animation-name: loading-animation2;
  left: calc(100% + 1.5rem);
}
.loading3 {
  animation-name: loading-animation3;
  left: calc(100% + 2.5rem);
}

@keyframes loading-animation {
  0%,
  100% {
    bottom: 0rem;
  }

  50% {
    bottom: 2rem;
  }
}
@keyframes loading-animation2 {
  25%,
  100% {
    bottom: 0rem;
  }

  62.5% {
    bottom: 3rem;
  }
}
@keyframes loading-animation3 {
  50%,
  100% {
    bottom: 0rem;
  }

  75% {
    bottom: 2rem;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-block-start: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
