.hourlyDropdown {
  appearance: base-select;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.35rem 0.75rem;
  border: none;
  background-color: var(--Neutral-600);
  color: var(--Neutral-0);

  &::picker(select) {
    appearance: base-select;
    border: none;
    position-area: block-end span-inline-start;
    margin-block-start: 0.75rem;
    border-radius: 5px;
    background-color: var(--Neutral-800);
    color: var(--Neutral-0);
  }

  option {
    padding: 0.6rem 3.5rem 0.6rem 1rem;

    &::checkmark {
      display: none;
    }

    &:hover,
    :focus-visible {
      background-color: var(--Neutral-700);
    }
  }
}
